/lambda/create_lambda/*
!/lambda/create_lambda/requirements.txt
!/lambda/create_lambda/lambda_function.py
!/lambda/create_lambda/local_trigger.py
/lambda/predict_lambda/*
!/lambda/predict_lambda/requirements.txt
!/lambda/predict_lambda/lambda_function.py
!/lambda/predict_lambda/local_trigger.py
vendor
data
